.btn__sm-text
    padding: 5px 14px 7px
    font-size: 17px
    line-height: 1
    text-decoration: none
    border-radius: 50px
    color: $color_sys_second
    background: $color_white
    border: 2px solid $color_sys_bg
    +default_animation
    &:hover
        text-decoration: none
        color: $color_white
        background: $color_sys_second
        border: 2px solid transparent