.promotesmSect
    padding: 40px 0 30px
    @include mdScreen
        padding: 46px 0 30px

    // 標題
    .titleBox
        h2
            flex-direction: column
            margin-bottom: 10px
            @include mdScreen
                margin-bottom: 20px
            &::after
                display: none
            span
                margin-left: 0

    .container
        @include smScreen
            max-width: unset

    .row
        &:nth-child(1)
            margin-right: 0
            margin-left: 0
            padding-top: 4px
            padding-bottom: 14px
            background: $color_sys_bg
            border-radius: 4px
            @include smScreen
                margin-right: 15px
                margin-left: 15px
            @include mdScreen
                padding-top: 0
            @include lgScreen
                padding-top: 13px
                padding-bottom: 26px
                border-radius: 150px  
            @include xlScreen
                max-width: 1140px
                margin-right: auto
                margin-left: auto

        &:not(:first-child)
            justify-content: center

    .col-6
        @include xlScreen
            padding-right: 30px
            padding-left: 30px

    a
        &:hover
            text-decoration: none

.promotesm__card
    width: 100%
    position: relative
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    &:hover
        .promotesm__card
            &-content
                top: 9px
            &-img
                box-shadow: 0 11px 13px rgba(5, 29, 93, .07) 
                background: $color_sys_second 
            &-btn
                margin-top: 16px
                margin-bottom: 0
                box-shadow: 0 0 0 rgba(5, 29, 93, .35)
                @include mdScreen
                    margin-top: 20px
                @include lgScreen
                    margin-top: 26px

    &-btn
        position: relative
        display: flex
        justify-content: center
        align-items: center
        margin-top: 10px
        margin-bottom: 6px
        padding: 4px 16px 6px
        font-size: 18px
        border: 3px solid $color-white
        background: $color_blue_dark
        border-radius: 50px
        color:  $color-white
        box-shadow: 0 6px 0 rgba(5, 29, 93, .35)
        +default_animation
        @include xsScreen
            width: 90%
        @include mdScreen
            margin-top: 14px
            font-size: 20px
        @include lgScreen
            width: 85%
            margin-left: auto
            margin-top: 20px
            padding: 8px 0 10px 44px

        &:hover
            margin-bottom: 0
            box-shadow: 0 0 0 rgba(5, 29, 93, .35)
            @include mdScreen
                margin-top: 20px
            @include lgScreen
                margin-top: 26px

    &-content
        position: absolute
        display: flex
        justify-content: center
        position: absolute
        background: $color_sys_bg
        border-radius: 50%
        top: 3px
        left: 0
        z-index: 5
        +default_animation
        
    &-img
        display: none
        @include lgScreen
            display: block
            width: 100%
            max-width: 88px
            border-radius: 50%
            border: 5px solid $color-white
            box-shadow: 0 -11px 13px rgba(5, 29, 93, .07)
            +default_animation

        &:hover
            @include lgScreen
                background: $color_sys_second
                box-shadow: 0 11px 13px rgba(5, 29, 93, .07) 

    &-morebtn
        position: relative
        display: flex
        justify-content: center
        align-items: center
        margin-top: 20px
        margin-bottom: 8px
        padding: 8px 27px 10px
        font-size: 20px
        border: 3px solid $color-white
        background: $color_sys_main
        border-radius: 50px
        color:  $color-white
        box-shadow: 0 8px 0 rgba(91, 178, 254, .35)
        +default_animation
        @include mdScreen
            margin-top: 30px
            font-size: 22px
            box-shadow: 0 9px 0 rgba(91, 178, 254, .35)
        @include lgScreen
            margin-top: 40px
            padding: 10px 45px 12px

        &:hover
            color: $color-white
            margin-top: 28px
            margin-bottom: 0px
            box-shadow: 0 0 0 rgba(91, 178, 254, .35)
            @include mdScreen
                margin-top: 38px
                box-shadow: 0 0 0 rgba(91, 178, 254, .35)
            @include lgScreen
                margin-top: 48px